## Posttest 4 
Nama : Rahmad Ramadhan

NIM : 2109106116

Informatika C1_21

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

## Informasi Data

In [2]:
df = pd.read_csv('prochoice_prolife.csv')
df

,Unnamed: 0,author_id,author_name,author_username,created_at,id,public_metrics,text,retweet_count,like_count,target
0,28588,73506221,Oregon Right to Life,OR_RTL,2022-06-23 00:00:06+00:00,1539760170900799490,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",We know that unsupported pregnancies can gener...,5,13,1
1,28587,96631851,Œ±Œπ—ègœÉ*–ºŒ±—ÇŒπ¬¢*œÉœÅ—ÇŒπœá,sacraficial,2022-06-23 00:01:14+00:00,1539760456977395712,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",If you are murdered by a George W. Bush weapon...,0,0,1
2,28586,3041829701,skb,skb37027,2022-06-23 00:04:30+00:00,1539761277702213633,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",.@MarshaBlackburn so much for #ProLife. https:...,0,0,1
3,28537,177260708,Right To Life League,Right2LifeLg,2022-06-23 00:09:50+00:00,1539762620055552001,"{'retweet_count': 6, 'reply_count': 3, 'like_c...",Follow our instagram for more posts like this!...,6,19,1
4,27450,1523376591052582912,No Forced Birth,NoForcedBirth,2022-06-23 00:09:57+00:00,1539762647922421763,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Another classy tweet from the forced birth cro...,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
56035,1,1422930280810270731,WV116,WV116_G16,2022-07-03 23:57:19+00:00,1543745736587837441,"{'retweet_count': 1, 'reply_count': 1, 'like_c...",Next June is going to be more fun #ProLife htt...,1,3,1
56036,0,997036813,Believe in the Promise,Christ_isLight,2022-07-03 23:57:37+00:00,1543745810696847360,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",@Hammock_Thomas @MariaLaoise I'm alarmed to he...,0,1,1
56037,2,934204973553815552,Hunted The Amiba,videodweller4,2022-07-03 23:57:58+00:00,1543745898068336640,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",At a #WomensRights and #prochoice rally https:...,0,0,0
56038,1,436733030,Benoit üá¶üá≤ ŸÜ,8enoit,2022-07-03 23:58:20+00:00,1543745992876515328,"{'retweet_count': 2, 'reply_count': 0, 'like_c...",Je refuse leur vaccin exp√©rimental. \n#monCorp...,2,4,0
56039,0,119658038,Greg Williamson üíâüíâüíâ üíâ,The_Scrutiniser,2022-07-03 23:59:36+00:00,1543746310473322496,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",#prochoice https://t.co/TymBKe6sT1,1,4,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56040 entries, 0 to 56039
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       56040 non-null  int64
 1   author_id        56040 non-null  int64
 2   author_name      56031 non-null  object
 3   author_username  56040 non-null  object
 4   created_at       56040 non-null  object
 5   id               56040 non-null  int64
 6   public_metrics   56040 non-null  object
 7   text             56040 non-null  object
 8   retweet_count    56040 non-null  int64
 9   like_count       56040 non-null  int64
 10  target           56040 non-null  int64
dtypes: int64(6), object(5)
memory usage: 4.7+ MB

In [4]:
df.shape

(56040, 11)

## Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (39228, 10)
Dimensi X_test (16812, 10)
Dimensi y_train (39228,)
Dimensi y_test (16812,)

## Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [16]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["author_id"]]

normalization = min_max.fit_transform(dataCopy_normalization[["author_id"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["author_id_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(df_normalization["author_id_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

             author_id  author_id_Normalization
0             73506221             4.761253e-11
1             96631851             6.259411e-11
2           3041829701             1.970595e-09
3            177260708             1.148283e-10
4  1523376591052582912             9.868962e-01
5             14654281             9.486198e-12
6             15495018             1.003086e-11
7  1474160610292207627             9.550124e-01
8   872410623954616323             5.651779e-01
9             94012779             6.089739e-11

## Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [15]:
# Membuat salinan dataset
data_copy = df.copy()

# Memilih atribut yang ingin di standarisasi
attribute_to_standardize = 'author_id'

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Standarisasi atribut
data_copy[attribute_to_standardize] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

# Menampilkan atribut 'author_id' sebelum dan sesudah standarisasi
print("Atribut 'author_id' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(df[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'author_id' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

             author_id
0             73506221
1             96631851
2           3041829701
3            177260708
4  1523376591052582912
5             14654281
6             15495018
7  1474160610292207627
8   872410623954616323
9             94012779

Sesudah Standarisasi:

   author_id
0  -1.062523
1  -1.062523
2  -1.062523
3  -1.062523
4   1.268797
5  -1.062523
6  -1.062523
7   1.193478
8   0.272582
9  -1.062523

## Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).

## Tampilkan Nilai Null

In [17]:
df.isna().sum()

Unnamed: 0         0
author_id          0
author_name        9
author_username    0
created_at         0
id                 0
public_metrics     0
text               0
retweet_count      0
like_count         0
target             0
dtype: int64

## Menghapus Nilai Null

In [18]:
df.dropna(inplace=True) 
df.isna().sum()

Unnamed: 0         0
author_id          0
author_name        0
author_username    0
created_at         0
id                 0
public_metrics     0
text               0
retweet_count      0
like_count         0
target             0
dtype: int64

## Mengubah bilangan bulat menjadi median/modus

In [19]:
data = pd.read_csv('prochoice_prolife.csv')
strategi1 = SimpleImputer(strategy="median")

data["author_id"] = strategi1.fit_transform(data[["author_id"]])

data.isna().sum()

Unnamed: 0         0
author_id          0
author_name        9
author_username    0
created_at         0
id                 0
public_metrics     0
text               0
retweet_count      0
like_count         0
target             0
dtype: int64

## Mengubah bilangan desimal menjadi mean

In [20]:
import pandas as pd
from sklearn.impute import SimpleImputer

data = pd.read_csv('prochoice_prolife.csv')

# Pilih kolom yang ingin diimputasi, misalnya "Unnamed: 0"
column_to_impute = "Unnamed: 0"

# Inisialisasi SimpleImputer dengan strategi mean
imputer = SimpleImputer(strategy="mean")

# Lakukan imputasi pada kolom yang dipilih
data[column_to_impute] = imputer.fit_transform(data[[column_to_impute]])

# Cek apakah masih ada nilai yang hilang
missing_values = data.isna().sum()

# Tampilkan jumlah nilai yang hilang untuk setiap kolom
print(missing_values)

Unnamed: 0         0
author_id          0
author_name        9
author_username    0
created_at         0
id                 0
public_metrics     0
text               0
retweet_count      0
like_count         0
target             0
dtype: int64

## Mengubah tulisan menjadi modus

In [21]:
import pandas as pd

data = pd.read_csv('prochoice_prolife.csv')

# Daftar kolom yang akan diisi dengan modus
kolom_modus = ['Unnamed: 0', 'author_id', 'author_name', 'author_username', 'created_at', 'id', 'public_metrics', 'text', 'retweet_count', 'like_count', 'target']

# Loop melalui kolom-kolom tersebut dan ganti nilai null dengan modus
for kolom in kolom_modus:
    modus = data[kolom].mode()[0]  # Mengambil modus kolom
    data[kolom].fillna(modus, inplace=True)

# Cek apakah masih ada nilai yang hilang
missing_values = data.isna().sum()

# Tampilkan jumlah nilai yang hilang untuk setiap kolom
print(missing_values)

Unnamed: 0         0
author_id          0
author_name        0
author_username    0
created_at         0
id                 0
public_metrics     0
text               0
retweet_count      0
like_count         0
target             0
dtype: int64

## Cleaning Duplicate

In [22]:
data[data.duplicated()]

print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

0

## Karena tidak ada data nilai duplikat maka membuat nilai duplikat

In [24]:
make_duplicated = pd.concat([data]*2, ignore_index=True)
make_duplicated.duplicated()

print("Jumlah data duplicated sekarang :")
make_duplicated.duplicated().sum()

Jumlah data duplicated sekarang :

56040

In [25]:
make_duplicated.drop_duplicates(inplace=True)

hasil = make_duplicated.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## Ganti tipe data salah satu attribute angka

In [26]:
print("Tipe data points sebelum diubah :")
df["author_id"].dtypes

Tipe data points sebelum diubah :

dtype('int64')

In [27]:
ubah_dtype = data["author_id"].astype("float")
print("Tipe data points setelah diubah :")
ubah_dtype.dtypes

Tipe data points setelah diubah :

dtype('float64')

## Lakukan one hot encoding pada dataset yang kalian miliki

In [45]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Memuat dataset
data = pd.read_csv('prochoice_prolife.csv')

# Inisialisasi OneHotEncoder
one_hot = OneHotEncoder(sparse=False, drop='first')  # drop='first' menghapus kategori pertama untuk menghindari multicollinearity

# Melakukan one-hot encoding pada kolom yang ingin di-encode, misalnya 'retweet_count'
df_onehot = one_hot.fit_transform(data[['retweet_count']])

# Membuat DataFrame dari hasil encoding
df_encoded = pd.DataFrame(df_onehot, columns=one_hot.get_feature_names_out(['retweet_count']))

# Menggabungkan hasil encoding ke dalam dataset asli
data = pd.concat([data, df_encoded], axis=1)

# Hapus kolom asli yang telah di-one-hot-encoded
data.drop(['retweet_count'], axis=1, inplace=True)

# Menampilkan hasil
data.head(10)

C:\Users\hp\OneDrive\Dokumen\venv_C1_21\Ramdan_116\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Unnamed: 0,author_id,author_name,author_username,created_at,id,public_metrics,text,like_count,target,...,retweet_count_470,retweet_count_482,retweet_count_485,retweet_count_492,retweet_count_596,retweet_count_821,retweet_count_869,retweet_count_1383,retweet_count_1475,retweet_count_2009
0,28588,73506221,Oregon Right to Life,OR_RTL,2022-06-23 00:00:06+00:00,1539760170900799490,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",We know that unsupported pregnancies can gener...,13,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28587,96631851,Œ±Œπ—ègœÉ*–ºŒ±—ÇŒπ¬¢*œÉœÅ—ÇŒπœá,sacraficial,2022-06-23 00:01:14+00:00,1539760456977395712,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",If you are murdered by a George W. Bush weapon...,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28586,3041829701,skb,skb37027,2022-06-23 00:04:30+00:00,1539761277702213633,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",.@MarshaBlackburn so much for #ProLife. https:...,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28537,177260708,Right To Life League,Right2LifeLg,2022-06-23 00:09:50+00:00,1539762620055552001,"{'retweet_count': 6, 'reply_count': 3, 'like_c...",Follow our instagram for more posts like this!...,19,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27450,1523376591052582912,No Forced Birth,NoForcedBirth,2022-06-23 00:09:57+00:00,1539762647922421763,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Another classy tweet from the forced birth cro...,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,28585,14654281,Tim Elsey,elset,2022-06-23 00:12:08+00:00,1539763199095934976,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",#ProLife https://t.co/j3Ro3VTMwu,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,28584,15495018,WorthyNews,worthynews,2022-06-23 00:16:21+00:00,1539764259512516608,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Two Michigan pro-life centers vandalized as at...,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,27449,1474160610292207627,Joey for Michigan,JoeyforMichigan,2022-06-23 00:22:27+00:00,1539765794074247170,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",The dismantling of our civil rights by #SCOTUS...,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,28583,872410623954616323,Melissaüêù,miakaye46,2022-06-23 00:26:44+00:00,1539766873390256132,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",#Catholic #ProLife https://t.co/aAd1ZA1WQY,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,28582,94012779,Bill Scott,BillMiami,2022-06-23 00:28:36+00:00,1539767340782559233,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Marco Rubio please vote for the Gun Reform Bil...,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0