In [4]:
# Posttest 2
## Nama : Rahmad Ramadhan
## NIM : 2109106116
## Kelas : C1_21
## Dataset yang digunakan : prochoice_prolife

In [5]:
import pandas as pd
import numpy as np

from prettytable import PrettyTable

df = pd.read_csv("prochoice_prolife.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56040 entries, 0 to 56039
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       56040 non-null  int64
 1   author_id        56040 non-null  int64
 2   author_name      56031 non-null  object
 3   author_username  56040 non-null  object
 4   created_at       56040 non-null  object
 5   id               56040 non-null  int64
 6   public_metrics   56040 non-null  object
 7   text             56040 non-null  object
 8   retweet_count    56040 non-null  int64
 9   like_count       56040 non-null  int64
 10  target           56040 non-null  int64
dtypes: int64(6), object(5)
memory usage: 4.7+ MB

In [6]:
# Point 1 
## Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [7]:
# Jawab 
## Menggunakan df.describe() perintah ini untuk mendapatkan ringkasan statistik seperti perhitungan jumlah, rata-rata, standar deviasi, nilai minimum, Q1 = 25%, Q2 = 50%, Q3 = 75%, dan nilai maksimum.

In [8]:
df.describe()

,Unnamed: 0,author_id,id,retweet_count,like_count,target
count,56040.000000,5.604000e+04,5.604000e+04,56040.000000,56040.000000,56040.000000
mean,14015.277320,6.942944e+17,1.541222e+18,1.135046,5.561046,0.510153
std,8098.747894,6.534455e+17,9.109174e+14,16.148907,98.445893,0.499901
min,0.000000,1.135100e+04,1.539760e+18,0.000000,0.000000,0.000000
25%,7004.750000,4.338940e+08,1.540497e+18,0.000000,0.000000,0.000000
50%,14009.500000,8.598755e+17,1.540928e+18,0.000000,0.000000,1.000000
75%,21014.250000,1.337281e+18,1.541610e+18,0.000000,1.000000,1.000000
max,28588.000000,1.543604e+18,1.543746e+18,2009.000000,17377.000000,1.000000

In [9]:
# Point 2
## Menampilkan 10 record pertama dari attribut bertipe angka
# Jawab 
## Menggunakan df.head() perintah ini dapat menampilkan 10 record pertama

In [10]:
sepuluh_angka_pertama = df.select_dtypes(include=['int', 'float']).head(10)
print(sepuluh_angka_pertama)

   Unnamed: 0            author_id                   id  retweet_count  \
0       28588             73506221  1539760170900799490              5
1       28587             96631851  1539760456977395712              0
2       28586           3041829701  1539761277702213633              0
3       28537            177260708  1539762620055552001              6
4       27450  1523376591052582912  1539762647922421763              0
5       28585             14654281  1539763199095934976              0
6       28584             15495018  1539764259512516608              0
7       27449  1474160610292207627  1539765794074247170              0
8       28583   872410623954616323  1539766873390256132              1
9       28582             94012779  1539767340782559233              0

   like_count  target
0          13       1
1           0       1
2           0       1
3          19       1
4           1       0
5           0       1
6           0       1
7           7       0
8           2       1
9           0       1

In [11]:
# Point 3 
## Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.
# Jawab 
## menampilkan Jumlah record yang merupakan jumlah baris dan kolom menggunakan df.shape
## menampilkan nama atribut dari setiap kolom dengan menggunakan df.columns.values
## menampilkan jumlah atribut yang menggunakan tipe angka dengan tipe angka dengan df.select_dtypes(["int64","float64"]).columns) numns

In [12]:
# Mengimpor PrettyTable
from prettytable import PrettyTable


info_data = {
    "Record": df.shape[0],
    "Attribute": list(df.columns.values),
    "Attribute Tipe Objek": list(df.select_dtypes(["object"]).columns),
    "Attribute Tipe Angka": list(df.select_dtypes(["int64", "float64"]).columns),
    "Attribute Null": list(df.columns[df.isnull().any()]),
}

keys = list(info_data.keys())

# Membuat PrettyTable
info_dataTable = PrettyTable()
info_dataTable.field_names = ["Info", "Atribute", "Jumlah"]

# Memasukkan nilai-nilai
info_dataTable.add_row([keys[0], "-", info_data[keys[0]]])

for i in range(1, 5):
    info_dataTable.add_row([keys[i], ", \n".join(info_data[keys[i]]), len(info_data[keys[i]])])

print(info_dataTable)

+----------------------+-------------------+--------+
|         Info         |      Atribute     | Jumlah |
+----------------------+-------------------+--------+
|        Record        |         -         | 56040  |
|      Attribute       |    Unnamed: 0,    |   11   |
|                      |    author_id,     |        |
|                      |   author_name,    |        |
|                      | author_username,  |        |
|                      |    created_at,    |        |
|                      |        id,        |        |
|                      |  public_metrics,  |        |
|                      |       text,       |        |
|                      |  retweet_count,   |        |
|                      |    like_count,    |        |
|                      |       target      |        |
| Attribute Tipe Objek |   author_name,    |   5    |
|                      | author_username,  |        |
|                      |    created_at,    |        |
|                      |  public_metrics,  |        |
|                      |        text       |        |
| Attribute Tipe Angka |    Unnamed: 0,    |   6    |
|                      |    author_id,     |        |
|                      |        id,        |        |
|                      |  retweet_count,   |        |
|                      |    like_count,    |        |
|                      |       target      |        |
|    Attribute Null    |    author_name    |   1    |
+----------------------+-------------------+--------+

In [13]:
# Point 4
## Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.
# Jawab 
## Menggunakan metode slice dengan iloc sliced_data = data.iloc[nim:, 3:] print(sliced_data)

In [14]:
import pandas as pd

# Mengimpor dataset dari file CSV
data = pd.read_csv('prochoice_prolife.csv')

# Menggunakan metode slice dengan iloc
sliced_data = data.iloc[116:, 3:]
print(sliced_data)

       author_username                 created_at                   id  \
116       CodyMcDevitt  2022-06-23 06:02:32+00:00  1539851381112295424
117    FriendOfThurlow  2022-06-23 06:03:45+00:00  1539851685547368450
118     All_Fem_United  2022-06-23 06:04:46+00:00  1539851940921610240
119          MrsGhasem  2022-06-23 06:07:30+00:00  1539852629701959680
120      ThisIsTiaRose  2022-06-23 06:13:55+00:00  1539854244437803008
...                ...                        ...                  ...
56035        WV116_G16  2022-07-03 23:57:19+00:00  1543745736587837441
56036   Christ_isLight  2022-07-03 23:57:37+00:00  1543745810696847360
56037    videodweller4  2022-07-03 23:57:58+00:00  1543745898068336640
56038           8enoit  2022-07-03 23:58:20+00:00  1543745992876515328
56039  The_Scrutiniser  2022-07-03 23:59:36+00:00  1543746310473322496

                                          public_metrics  \
116    {'retweet_count': 0, 'reply_count': 0, 'like_c...
117    {'retweet_count': 0, 'reply_count': 0, 'like_c...
118    {'retweet_count': 0, 'reply_count': 0, 'like_c...
119    {'retweet_count': 1, 'reply_count': 1, 'like_c...
120    {'retweet_count': 0, 'reply_count': 2, 'like_c...
...                                                  ...
56035  {'retweet_count': 1, 'reply_count': 1, 'like_c...
56036  {'retweet_count': 0, 'reply_count': 1, 'like_c...
56037  {'retweet_count': 0, 'reply_count': 0, 'like_c...
56038  {'retweet_count': 2, 'reply_count': 0, 'like_c...
56039  {'retweet_count': 1, 'reply_count': 0, 'like_c...

                                                    text  retweet_count  \
116    We Testify connects abortion storytellers with...              0
117    @tlou00 @LukeRussert We Can Say That "Progress...              0
118    Now more than ever we are already #ProChoice h...              0
119    #Prolife #antiabortusactivisten\nEat your hear...              1
120    Notice how they didn't even address anything f...              0
...                                                  ...            ...
56035  Next June is going to be more fun #ProLife htt...              1
56036  @Hammock_Thomas @MariaLaoise I'm alarmed to he...              0
56037  At a #WomensRights and #prochoice rally https:...              0
56038  Je refuse leur vaccin exp√©rimental. \n#monCorp...              2
56039                 #prochoice https://t.co/TymBKe6sT1              1

       like_count  target
116             0       0
117             0       0
118             6       0
119             0       1
120             5       1
...           ...     ...
56035           3       1
56036           1       1
56037           0       0
56038           4       0
56039           4       0

[55924 rows x 8 columns]

In [15]:
# Point 5
## Tampilkan jumlah label dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).
# Jawab
## menggunakan kolom_objek = df.select_dtypes(include=['object']) untuk filter kolom dengan tipe data objek setelah itu ditampilkan dan hitung jumlah label untuk setiap kolom objek

In [16]:
# Filter kolom dengan tipe data objek
kolom_objek = df.select_dtypes(include=['object'])

# Tampilkan kolom-kolom objek
kolom_objek.head()

# Hitung jumlah label untuk setiap kolom objek
for kolom in kolom_objek.columns:
    jumlah_label = df[kolom].nunique()
    print(f"Kolom '{kolom}' memiliki {jumlah_label} label unik.")

Kolom 'author_name' memiliki 26866 label unik.
Kolom 'author_username' memiliki 27891 label unik.
Kolom 'created_at' memiliki 48396 label unik.
Kolom 'public_metrics' memiliki 2886 label unik.
Kolom 'text' memiliki 51106 label unik.